# NUMPY

In [2]:
import numpy as np

In [9]:
# one dimensional array
a = np.array([5,6,9])
a[0]

5

In [8]:
a.ndim

1

In [6]:
#two dimensional array
a = np.array([[1,2],[3,4],[5,6]])
#to print the dimensions of array
a.ndim

2

In [11]:
#size of datatype
a.itemsize

4

In [13]:
#to check datatype of array
a.dtype

dtype('int32')

In [16]:
#to convert array in float datatype
a = np.array([[1,2],[3,4],[5,6]], dtype=np.float64)

In [17]:
a.itemsize

8

In [18]:
a.dtype

dtype('float64')

In [19]:
a

array([[1., 2.],
       [3., 4.],
       [5., 6.]])

In [21]:
#total elements
a.size

6

In [22]:
#shape i.e. no. of cols and rows
a.shape

(3, 2)

In [24]:
a = np.array([[1,2],[3,4],[5,6]], dtype=complex)
a

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j],
       [5.+0.j, 6.+0.j]])

In [25]:
#initialize array
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [26]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [27]:
#to create list of numbers from 0 to 1
l=range(5)
l

range(0, 5)

In [28]:
l[0]

0

In [30]:
#to create list of numbers from 1 to 4
np.arange(1,5)

array([1, 2, 3, 4])

In [32]:
#np.arange(start, end, step)
np.arange(1,5,2)

array([1, 3])

In [33]:
#to create linearly spaced numbers from 1 to 5 having steps of 10
np.linspace(1,5,10)

array([1.        , 1.44444444, 1.88888889, 2.33333333, 2.77777778,
       3.22222222, 3.66666667, 4.11111111, 4.55555556, 5.        ])

In [35]:
np.linspace(1,5,5)

array([1., 2., 3., 4., 5.])

In [39]:
a = np.array([[1,2],[3,4],[5,6]])
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [41]:
a.shape

(3, 2)

In [43]:
#to reshape array
a.reshape(2,3)

array([[1, 2, 3],
       [4, 5, 6]])

In [44]:
a.reshape(6,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6]])

In [46]:
#to flatten array
a.ravel()   #doesn't edits on original array , hence to store flattened array create new variable

array([1, 2, 3, 4, 5, 6])

In [47]:
a

array([[1, 2],
       [3, 4],
       [5, 6]])

### Mathematical Functions

In [48]:
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [49]:
a.min()

1

In [51]:
a.max()

6

In [52]:
a.sum()

21

In [53]:
a.sum(axis=0)  #axis= 0 is column wise and axis=1 is rows

array([ 9, 12])

In [55]:
a.sum(axis=1)

array([ 3,  7, 11])

In [57]:
np.sqrt(a)

array([[1.        , 1.41421356],
       [1.73205081, 2.        ],
       [2.23606798, 2.44948974]])

In [58]:
np.std(a)

1.707825127659933

In [61]:
a = np.array([[1,2],[3,4]])
b= np.array([[5,6],[7,8]])

In [62]:
a

array([[1, 2],
       [3, 4]])

In [63]:
b

array([[5, 6],
       [7, 8]])

In [64]:
a+b

array([[ 6,  8],
       [10, 12]])

In [65]:
a*b

array([[ 5, 12],
       [21, 32]])

In [66]:
a/b

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [67]:
a.dot(b)

array([[19, 22],
       [43, 50]])